div#loader {
    position: fixed;
    z-index: 999999999999999999;
    height: 50vh;
    width: 50vh;
    top: 50%;
    left: 50%;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #d0d0d0e0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transform: translate(-50%, -50%);
}

div#loader div#circle {
    position: fixed;
    z-index: 9999999999999999999;
    height: 40vh;
    width: 40vh;
    border-top: 10px solid #3acbff;
    border-radius: 50%;
    background-color: #d0d0d0e0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    animation: circle 1s infinite ease-in-out;
}

@keyframes circle {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360);
    }
}