#container {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}

#container form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div#container label {
    padding: 10px;
    color: #000;
    font-size: 50px;
    text-shadow: 1px 1px #4952aa,
    1px 2px #4952aa,
    1px 3px #4952aa,
    1px 4px #4952aa,
    1px 18px 6px #476fff66,
    1px 22px 10px #476fff66,
    1px 25px 35px #476fff66,
    1px 30px 60px #476fff66;
}

input {
    border-radius: 10px;
    max-width: 500px;
    width: 500px;
    height: 30px;
}
  
#suggestions {
    background-color: #aaa3a3;
}
  
.suggestion {
    text-align: center;
    padding: 5px;
    border-radius: 1px;
    background-color: #eee;
    cursor: pointer;
}
  
.suggestion:hover {
    background-color: #aaa3a3;
    transition: .5s all;
}

#buttons {
    width: 100%;
    position: absolute;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.btns {
    height: 50px;
    width: 150px;
    background: #476fff;
    margin: 10px;
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid #000;
}

.btns:hover {
    color:#476fff;
    background: #fff;
    transition: all .5s ease-in-out;
}
