#container {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#container form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div#container label {
    padding: 10px;
    font-size: 50px;
    text-shadow: 1px 1px #919191,
    1px 2px #919191,
    1px 3px #919191,
    1px 4px #919191,
    1px 18px 6px #2d2d2d66,
    1px 22px 10px #2d2d2d66,
    1px 25px 35px #2d2d2d66,
    1px 30px 60px #2d2d2d66;
}

input {
    border-radius: 10px;
    max-width: 500px;
    width: 500px;
    height: 30px;
}
  
#suggestions {
    background-color: #aaa3a3;
}
  
.suggestion {
    text-align: center;
    padding: 5px;
    border-radius: 1px;
    background-color: #eee;
    cursor: pointer;
}
  
.suggestion:hover {
    background-color: #aaa3a3;
    transition: .5s all;
}