div#cookie {
    z-index: 999999999999;
    height: auto;
    width: 100%;
    position: fixed;
    background: #ffffff;
    display: flex;
    align-items: center;
    border-bottom: 1px #a9a9a9 solid;
}

div#cookie * {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

div#cookie span {
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
}

div#cookie a.btn {
    color: #fff;
    cursor: pointer;
    border: 1px #000 solid;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 20px;
    text-decoration: none;
}

div#cookie a#accept.btn:hover {
    background: #9bfab3;
    color: #000;
    transition: all .2s ease-in-out;
}

div#cookie a#denny.btn:hover {
    background: #eb8383;
    color: #000;
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 500px) {
    div#cookie {
        flex-direction: column;
    }
}